torch==2.3.1
torchaudio==2.3.1+cu121
vllm==0.4.3
tiktoken==0.7.0
encodec==0.1.1
typing
loguru==0.7.2
datasets==2.20.0
soundfile==0.12.1
librosa==0.10.2.post1
packaging==24.0
ninja==1.11.1.1
# flash-attn
scikit-learn==1.5.0
